Repository ChiefWoods/splurge: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier -w

.lintstagedrc.json:

{
  "programs/splurge/src/**/*.rs": "cargo fmt --",
  "tests/**/*.ts": "prettier -w"
}

Add create_store
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/mod.rs
  programs/splurge/src/state/store.rs
  tests/functional/createStore.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add update_item
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/update_item.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/store_item.rs
  tests/functional/updateItem.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add address field to shopper state
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/create_shopper.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/shopper.rs
  tests/functional/createShopper.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add whitelisted_mint field to splurge_config, rename update_admin
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/remove_whitelisted_mint.rs
  programs/splurge/src/instructions/set_admin.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/splurge_config.rs
  tests/functional/addWhitelistedMint.test.ts
  tests/functional/addWhitelistedMintThrows.test.ts
  tests/functional/initializeConfigThrows.test.ts
  tests/functional/removeWhitelistedMint.test.ts
  tests/functional/removeWhitelistedMintThrows.test.ts
  tests/functional/setAdmin.test.ts
  tests/functional/setAdminThrows.test.ts
  tests/functional/updateAdmin.test.ts
  tests/functional/updateAdminThrows.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add description field for store_item
  programs/splurge/src/instructions/add_item.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/store_item.rs
  tests/functional/addItem.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add about field for store
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/store.rs
  tests/functional/createStore.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add update_store
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/update_store.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/store.rs
  tests/functional/updateStore.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add add_item
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/add_item.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/mod.rs
  tests/functional/addItem.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add indent rules
  rustfmt.toml
Due: none

Remove program data address contraint, add bankrun setup
  programs/splurge/src/constants.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/state/store_item.rs
  tests/functional/addWhitelistedMint.test.ts
  tests/functional/addWhitelistedMintThrows.test.ts
  tests/functional/createShopper.test.ts
  tests/functional/createStore.test.ts
  tests/functional/initializeConfig.test.ts
  tests/functional/initializeConfigThrows.test.ts
  tests/functional/removeWhitelistedMint.test.ts
  tests/functional/removeWhitelistedMintThrows.test.ts
  tests/functional/setAdmin.test.ts
  tests/functional/setAdminThrows.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add delete_item
  programs/splurge/src/instructions/delete_item.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  tests/functional/deleteItem.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Fetch nullable accounts
  tests/utils.ts
Due: prettier -w

Use PUBKEY_BYTES constant
  programs/splurge/src/instructions/add_item.rs
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/remove_whitelisted_mint.rs
Due: cargo fmt --

Rename add_item
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  tests/functional/createItem.test.ts
  tests/functional/deleteItem.test.ts
  tests/functional/updateItem.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add create_order
  Cargo.lock
  bun.lockb
  package.json
  programs/splurge/Cargo.toml
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/mod.rs
  programs/splurge/src/state/order.rs
  tests/functional/createOrder.test.ts
  tests/functional/createStore.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Fix incorrect store item name max length
  programs/splurge/src/constants.rs
  tests/functional/createItem.test.ts
Due: cargo fmt --, prettier -w

Add complete_order
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  tests/functional/completeOrder.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add update_order
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/lib.rs
  tests/functional/updateOrder.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add admin account to create_order
  programs/splurge/src/instructions/create_order.rs
  tests/functional/createOrder.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Remove rustfmt options
  rustfmt.toml
Due: none

Format files
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/create_shopper.rs
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/remove_whitelisted_mint.rs
  programs/splurge/src/instructions/set_admin.rs
Due: cargo fmt --

Add withdraw_earnings
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
  programs/splurge/src/lib.rs
  tests/functional/withdrawEarnings.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Add create_review
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/mod.rs
  programs/splurge/src/state/review.rs
  tests/functional/createReview.test.ts
  tests/utils.ts
Due: cargo fmt --, prettier -w

Remove default test
  tests/splurge.test.ts
Due: prettier -w

Add errors
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/delete_item.rs
  programs/splurge/src/instructions/update_item.rs
Due: cargo fmt --

Reformat code
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
Due: cargo fmt --

Set up lint-staged
  .husky/pre-commit
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierrc
  bun.lockb
  migrations/deploy.ts
  package.json
Due: none

Add program tests
  .env.example
  .gitignore
  tests/accounts.ts
  tests/constants.ts
  tests/endToEnd.test.ts
  tests/functional/addWhitelistedMint.test.ts
  tests/functional/completeOrder.test.ts
  tests/functional/createItem.test.ts
  tests/functional/createOrder.test.ts
  tests/functional/createReview.test.ts
  tests/functional/createShopper.test.ts
  tests/functional/createStore.test.ts
  tests/functional/deleteItem.test.ts
  tests/functional/initializeConfig.test.ts
  tests/functional/removeWhitelistedMint.test.ts
  tests/functional/setAdmin.test.ts
  tests/functional/updateItem.test.ts
  tests/functional/updateOrder.test.ts
  tests/functional/updateStore.test.ts
  tests/methods.ts
  tests/pda.ts
  tests/utils.ts
Due: prettier -w

Init Next.js project
  app/.gitignore
  app/README.md
  app/bun.lockb
  app/eslint.config.js
  app/next.config.ts
  app/package.json
  app/postcss.config.js
  app/public/file.svg
  app/public/globe.svg
  app/public/next.svg
  app/public/vercel.svg
  app/public/window.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/src/app/page.tsx
  app/tailwind.config.ts
  app/tsconfig.json
  package.json
Due: none

Set up prettier
  app/.prettierignore
  app/.prettierrc
  app/bun.lockb
  app/package.json
Due: none

Set up lint staged
  app/.lintstagedrc.js
Due: none

Set up tailwind
  app/bun.lockb
  app/components.json
  app/package.json
  app/src/app/globals.css
  app/src/lib/utils.ts
  app/tailwind.config.ts
Due: none

Remove defaults
  app/public/file.svg
  app/public/globe.svg
  app/public/next.svg
  app/public/vercel.svg
  app/public/window.svg
  app/src/app/favicon.ico
  app/src/app/layout.tsx
  app/src/app/page.tsx
Due: none

Add copy IDL script
  package.json
Due: none

Add idlAccounts.d.ts
  app/package.json
  app/src/types/idlAccounts.d.ts
  bun.lockb
Due: none

Add constants and pda helpers
  app/.env.example
  app/.gitignore
  app/package.json
  app/src/lib/constants.ts
  app/src/lib/pda.ts
  bun.lockb
Due: none

Add Header
  app/src/app/layout.tsx
  app/src/app/page.tsx
  app/src/components/Header.tsx
Due: none

Add useIrysUploader
  app/eslint.config.js
  app/next.config.ts
  app/package.json
  app/src/hooks/useIrysUploader.ts
  bun.lockb
Due: none

Rename ErrorCode to SplurgeError
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/create_shopper.rs
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/instructions/delete_item.rs
  programs/splurge/src/instructions/remove_whitelisted_mint.rs
  programs/splurge/src/instructions/set_admin.rs
  programs/splurge/src/instructions/update_item.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/instructions/update_store.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
Due: cargo fmt --

Add SolanaProvider
  app/eslint.config.js
  app/package.json
  app/src/app/layout.tsx
  app/src/components/SolanaProvider.tsx
  app/src/components/ui/toast.tsx
  app/src/components/ui/toaster.tsx
  app/src/hooks/use-toast.ts
  bun.lockb
Due: none
