Repository ChiefWoods/splurge: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier -w

.lintstagedrc.json:

{
  "programs/splurge/src/**/*.rs": "cargo fmt --",
  "tests/**/*.ts": "prettier -w"
}

Fix checkout bug
  app/src/app/stores/[storePda]/page.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  programs/splurge/src/instructions/create_order.rs
Due: cargo fmt --

Add my orders page
  app/package.json
  app/src/app/globals.css
  app/src/app/orders/page.tsx
  app/src/app/page.tsx
  app/src/components/Header.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/ui/badge.tsx
  app/src/components/ui/table.tsx
  app/src/components/ui/tabs.tsx
  app/src/lib/constants.ts
  app/tailwind.config.ts
  bun.lockb
Due: none

Fix orders not filtered by search
  app/src/app/orders/page.tsx
Due: none

Improve number validation
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
Due: none

Refactor program
  Anchor.toml
  programs/splurge/Cargo.toml
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/add_whitelisted_mint.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/create_shopper.rs
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/instructions/delete_item.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/remove_whitelisted_mint.rs
  programs/splurge/src/instructions/set_admin.rs
  programs/splurge/src/instructions/update_config.rs
  programs/splurge/src/instructions/update_item.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/instructions/update_store.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/config.rs
  programs/splurge/src/state/item.rs
  programs/splurge/src/state/mod.rs
  programs/splurge/src/state/order.rs
  programs/splurge/src/state/review.rs
  programs/splurge/src/state/shopper.rs
  programs/splurge/src/state/splurge_config.rs
  programs/splurge/src/state/store.rs
  programs/splurge/src/state/store_item.rs
  programs/splurge/src/utils.rs
Due: cargo fmt --

Refactor tests
  tests/accounts.ts
  tests/constants.ts
  tests/endToEnd.test.ts
  tests/functional/addWhitelistedMint.test.ts
  tests/functional/completeOrder.test.ts
  tests/functional/createItem.test.ts
  tests/functional/createOrder.test.ts
  tests/functional/createReview.test.ts
  tests/functional/createShopper.test.ts
  tests/functional/createStore.test.ts
  tests/functional/initializeConfig.test.ts
  tests/functional/removeWhitelistedMint.test.ts
  tests/functional/setAdmin.test.ts
  tests/functional/updateConfig.test.ts
  tests/functional/updateItem.test.ts
  tests/functional/updateOrder.test.ts
  tests/functional/updateStore.test.ts
  tests/functional/withdrawEarnings.test.ts
  tests/methods.ts
  tests/pda.ts
  tests/setup.ts
  tests/utils.ts
Due: prettier -w

Add events
  programs/splurge/src/events.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/lib.rs
Due: cargo fmt --

Add access_control for create_item
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/lib.rs
Due: cargo fmt --

Remove fixtures from gitignore
  .gitignore
  tests/fixtures/pyusd_mint.json
  tests/fixtures/usdc_mint.json
  tests/fixtures/usdt_mint.json
Due: none

Remove redundant env values
  .env.example
Due: none

Add readme
  README.md
Due: none

Bump dependencies
  Anchor.toml
  Cargo.lock
  app/package.json
  bun.lockb
  package.json
  programs/splurge/Cargo.toml
  programs/splurge/src/lib.rs
  tests/setup.ts
Due: cargo fmt --, prettier -w

Fix husky not initialized
  package.json
Due: none

Fix constant naming
  programs/splurge/src/constants.rs
  programs/splurge/src/instructions/create_item.rs
Due: cargo fmt --

Add account parsers, refactor utils, add api routes
  .gitignore
  app/.env.example
  app/src/app/api/accounts/config/route.ts
  app/src/app/api/accounts/items/route.ts
  app/src/app/api/accounts/orders/route.ts
  app/src/app/api/accounts/reviews/route.ts
  app/src/app/api/accounts/shoppers/route.ts
  app/src/app/api/accounts/stores/route.ts
  app/src/app/api/rpc/route.ts
  app/src/components/SolanaProvider.tsx
  app/src/hooks/useAnchorProgram.ts
  app/src/hooks/useIrysUploader.ts
  app/src/lib/accounts.ts
  app/src/lib/api.ts
  app/src/lib/constants.ts
  app/src/lib/pda.ts
  app/src/lib/schema.ts
  app/src/lib/utils.ts
  app/src/types/idlAccounts.d.ts
Due: none

Move program instance to constants
  app/src/app/api/accounts/config/route.ts
  app/src/app/api/accounts/items/route.ts
  app/src/app/api/accounts/orders/route.ts
  app/src/app/api/accounts/reviews/route.ts
  app/src/app/api/accounts/shoppers/route.ts
  app/src/app/api/accounts/stores/route.ts
  app/src/lib/accounts.ts
  app/src/lib/constants.ts
  app/src/lib/pda.ts
Due: none

Add filters to account fetchers
  app/src/app/api/accounts/items/route.ts
  app/src/app/api/accounts/orders/route.ts
  app/src/app/api/accounts/reviews/route.ts
  app/src/lib/api.ts
Due: none

Add account fetchers
  app/src/lib/api.ts
Due: none

Remove useAnchorProgram
  app/src/hooks/useAnchorProgram.ts
  app/src/lib/instructions.ts
Due: none

Remove toast component
  app/package.json
  app/src/components/ui/toast.tsx
  app/src/components/ui/toaster.tsx
  app/src/hooks/use-toast.ts
  bun.lockb
Due: none

Refactor tests
  tests/functional/completeOrder.test.ts
  tests/functional/updateOrder.test.ts
Due: prettier -w

Move SolanaProviders to providers
  app/src/app/layout.tsx
  app/src/components/Header.tsx
  app/src/providers/SolanaProvider.tsx
Due: none

Add account providers
  app/package.json
  app/src/app/layout.tsx
  app/src/app/orders/page.tsx
  app/src/app/page.tsx
  app/src/app/shoppers/[shopperPda]/page.tsx
  app/src/app/shoppers/create/page.tsx
  app/src/app/stores/[storePda]/items/[itemPda]/page.tsx
  app/src/app/stores/[storePda]/items/[storeItemPda]/page.tsx
  app/src/app/stores/[storePda]/page.tsx
  app/src/app/stores/create/page.tsx
  app/src/components/ItemCard.tsx
  app/src/components/ItemCardSkeleton.tsx
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/AddReviewDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/CreateProfileDialog.tsx
  app/src/components/formDialogs/CreateStoreDialog.tsx
  app/src/components/formDialogs/DeleteItemDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
  app/src/lib/api.ts
  app/src/providers/ConfigProvider.tsx
  app/src/providers/ItemProvider.tsx
  app/src/providers/OrderProvider.tsx
  app/src/providers/ReviewProvider.tsx
  app/src/providers/ShopperProvider.tsx
  app/src/providers/StoreProvider.tsx
  bun.lockb
Due: none

Remove account fetchers
  app/src/lib/api.ts
Due: none

Bump dependencies
  bun.lockb
  package.json
Due: none

Refactor providers
  app/src/providers/ConfigProvider.tsx
  app/src/providers/ItemProvider.tsx
  app/src/providers/OrderProvider.tsx
  app/src/providers/ReviewProvider.tsx
  app/src/providers/ShopperProvider.tsx
  app/src/providers/StoreProvider.tsx
Due: none

Fix incorrect macro definition
  programs/splurge/src/macros.rs
Due: cargo fmt --

Bump app dependencies
  app/package.json
  bun.lockb
Due: none

More Header out from Providers
  app/src/app/layout.tsx
  app/src/components/Providers.tsx
Due: none

Refactor tests
  README.md
  bun.lockb
  package.json
  tests/accounts.ts
  tests/constants.ts
  tests/fixtures/pyusd_mint.json
  tests/fixtures/usdc_price_update_v2.json
  tests/fixtures/usdt_price_update_v2.json
  tests/functional/completeOrder.test.ts
  tests/functional/createItem.test.ts
  tests/functional/createOrder.test.ts
  tests/functional/createReview.test.ts
  tests/functional/createShopper.test.ts
  tests/functional/createStore.test.ts
  tests/functional/deleteItem.test.ts
  tests/functional/initializeConfig.test.ts
  tests/functional/initializeShopper.test.ts
  tests/functional/initializeStore.test.ts
  tests/functional/listItem.test.ts
  tests/functional/unlistItem.test.ts
  tests/functional/updateConfig.test.ts
  tests/functional/updateOrder.test.ts
  tests/functional/withdrawEarnings.test.ts
  tests/pda.ts
  tests/setup.ts
  tsconfig.json
Due: prettier -w

Relocate images
  app/public/accepted_mint/pyusd.png
  app/public/accepted_mint/usdc.png
Due: none

Refactor program
  Cargo.lock
  README.md
  programs/splurge/Cargo.toml
  programs/splurge/src/constants.rs
  programs/splurge/src/error.rs
  programs/splurge/src/events.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/initialize_shopper.rs
  programs/splurge/src/instructions/initialize_store.rs
  programs/splurge/src/instructions/list_item.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/unlist_item.rs
  programs/splurge/src/instructions/update_config.rs
  programs/splurge/src/instructions/update_item.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/macros.rs
  programs/splurge/src/state/config.rs
  programs/splurge/src/state/item.rs
  programs/splurge/src/state/order.rs
  programs/splurge/src/state/review.rs
  programs/splurge/src/state/shopper.rs
  programs/splurge/src/state/store.rs
  programs/splurge/src/utils.rs
Due: cargo fmt --

Add personalStore SWR state
  app/src/providers/StoreProvider.tsx
Due: none

Remove default export from Header
  app/src/components/Header.tsx
  app/src/components/Providers.tsx
Due: none

Remove localnet cluster option
  app/src/lib/constants.ts
Due: none

Refactor account fetchers and types
  app/.env.example
  app/src/app/api/accounts/config/route.ts
  app/src/app/api/accounts/items/route.ts
  app/src/app/api/accounts/orders/route.ts
  app/src/app/api/accounts/reviews/route.ts
  app/src/app/api/accounts/shoppers/route.ts
  app/src/app/api/accounts/stores/route.ts
  app/src/app/layout.tsx
  app/src/app/orders/page.tsx
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/AddReviewDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/CreateProfileDialog.tsx
  app/src/components/formDialogs/CreateStoreDialog.tsx
  app/src/components/formDialogs/DeleteItemDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
  app/src/hooks/useIrysUploader.ts
  app/src/lib/accounts.ts
  app/src/lib/api.ts
  app/src/lib/constants.ts
  app/src/lib/instructions.ts
  app/src/lib/pda.ts
  app/src/lib/schema.ts
  app/src/lib/solana-helpers.ts
  app/src/lib/utils.ts
  app/src/providers/ConfigProvider.tsx
  app/src/providers/ItemProvider.tsx
  app/src/providers/OrderProvider.tsx
  app/src/providers/ReviewProvider.tsx
  app/src/providers/ShopperProvider.tsx
  app/src/providers/SolanaProvider.tsx
  app/src/providers/StoreProvider.tsx
  app/src/types/accounts.ts
Due: none

Refactor code
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/create_item.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/create_review.rs
  programs/splurge/src/instructions/create_shopper.rs
  programs/splurge/src/instructions/create_store.rs
  programs/splurge/src/instructions/delete_item.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/update_config.rs
  programs/splurge/src/instructions/update_item.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/instructions/withdraw_earnings.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/state/config.rs
  programs/splurge/src/state/item.rs
  programs/splurge/src/state/review.rs
  programs/splurge/src/state/shopper.rs
  programs/splurge/src/state/store.rs
Due: cargo fmt --

Bump dependencies
  Anchor.toml
  Cargo.lock
  README.md
  app/package.json
  bun.lockb
  package.json
  programs/splurge/Cargo.toml
  programs/splurge/src/lib.rs
Due: cargo fmt --

Move providers to its own component
  app/src/app/layout.tsx
  app/src/components/Providers.tsx
Due: none

Refactor app
  app/src/app/api/rpc/route.ts
  app/src/app/orders/page.tsx
  app/src/app/page.tsx
  app/src/app/shoppers/[shopperPda]/page.tsx
  app/src/app/shoppers/create/page.tsx
  app/src/app/stores/[storePda]/items/[itemPda]/page.tsx
  app/src/app/stores/[storePda]/page.tsx
  app/src/app/stores/create/page.tsx
  app/src/components/AccountLinkText.tsx
  app/src/components/Header.tsx
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/AddReviewDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/CreateProfileDialog.tsx
  app/src/components/formDialogs/CreateStoreDialog.tsx
  app/src/components/formDialogs/DeleteItemDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
  app/src/hooks/useIrysUploader.ts
  app/src/lib/api.ts
  app/src/lib/constants.ts
Due: none
