Repository ChiefWoods/splurge: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier -w

Add store_signer macro
  programs/splurge/src/instructions/withdraw_earnings.rs
  programs/splurge/src/macros.rs
Due: cargo fmt --

Convert treasury to PDA, add withdraw_treasury ix
  programs/splurge/src/constants.rs
  programs/splurge/src/instructions/create_order.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/update_config.rs
  programs/splurge/src/instructions/withdraw_treasury.rs
  programs/splurge/src/lib.rs
  programs/splurge/src/macros.rs
  programs/splurge/src/state/config.rs
  scripts/instructions/initializeConfig.ts
  scripts/instructions/updateConfig.ts
  scripts/setup.ts
Due: cargo fmt --

Replace update_order with separate ixs
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/cancel_order.rs
  programs/splurge/src/instructions/mod.rs
  programs/splurge/src/instructions/ship_order.rs
  programs/splurge/src/instructions/update_order.rs
  programs/splurge/src/lib.rs
  scripts/instructions/shipOrder.ts
Due: cargo fmt --

Add check for shopper authority
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/cancel_order.rs
  programs/splurge/src/instructions/complete_order.rs
Due: cargo fmt --

Add script
  scripts/instructions/cancelOrder.ts
Due: none

Bump dependencies
  bun.lockb
  package.json
Due: none

Add check for order payment mint
  programs/splurge/src/error.rs
  programs/splurge/src/instructions/cancel_order.rs
  programs/splurge/src/instructions/complete_order.rs
  programs/splurge/src/instructions/ship_order.rs
Due: cargo fmt --

Update tests
  tests/accounts.ts
  tests/constants.ts
  tests/fixtures/tuktuk.json
  tests/fixtures/tuktuk.so
  tests/fixtures/tuktuk_config_v0.json
  tests/functional/cancelOrder.test.ts
  tests/functional/createOrder.test.ts
  tests/functional/createReview.test.ts
  tests/functional/initializeConfig.test.ts
  tests/functional/listItem.test.ts
  tests/functional/shipOrder.test.ts
  tests/functional/unlistItem.test.ts
  tests/functional/updateConfig.test.ts
  tests/functional/updateItem.test.ts
  tests/functional/updateOrder.test.ts
  tests/functional/withdrawEarnings.test.ts
  tests/functional/withdrawTreasury.test.ts
  tests/pda.ts
  tests/setup.ts
Due: prettier -w

Fix initializeConfig script
  scripts/instructions/initializeConfig.ts
Due: none

Prepend updatePriceFeed for checkout ix
  app/package.json
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/lib/solana-helpers.ts
  app/src/providers/PythProvider.tsx
  bun.lockb
Due: none

Update app to use shipOrder and cancelOrder ixs
  app/src/app/api/permissioned/route.ts
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/accounts.ts
  app/src/lib/api.ts
  app/src/lib/instructions.ts
  app/src/lib/utils.ts
  app/src/types/accounts.ts
Due: none

Update program ID
  Anchor.toml
  README.md
  app/src/idl/splurge.json
  app/src/types/splurge.ts
  programs/splurge/src/lib.rs
Due: cargo fmt --

Fix rpc-websockets export bug
  app/package.json
  app/src/app/api/accounts/items/route.ts
  app/src/app/api/accounts/orders/route.ts
  app/src/app/api/accounts/reviews/route.ts
  bun.lockb
Due: none

Update script
  README.md
  package.json
Due: none

Remove crate-level state export
  programs/splurge/src/instructions/cancel_order.rs
  programs/splurge/src/instructions/initialize_config.rs
  programs/splurge/src/instructions/ship_order.rs
  programs/splurge/src/instructions/update_config.rs
  programs/splurge/src/instructions/withdraw_treasury.rs
  programs/splurge/src/lib.rs
Due: cargo fmt --

Validate if platform is paused on checkout
  app/src/components/formDialogs/CheckoutDialog.tsx
Due: none

Add Dialect components and backend
  app/.env.example
  app/package.json
  app/src/components/DialectNotification.tsx
  app/src/components/Header.tsx
  app/src/lib/dialect.ts
  bun.lockb
Due: none

Add alerts
  app/src/app/page.tsx
  app/src/app/stores/[storePda]/(auth)/orders/page.tsx
  app/src/app/stores/[storePda]/items/[itemPda]/page.tsx
  app/src/app/stores/[storePda]/page.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/dialect.ts
Due: none

Merge order update alerts
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/dialect.ts
Due: none

Update README.md
  README.md
  preview.png
Due: none

Fix message formatting
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/dialect.ts
Due: none

Use source URL for alert links
  app/src/lib/dialect.ts
Due: none

Improve invalid page routing
  app/src/app/error.tsx
  app/src/app/stores/[storePda]/page.tsx
Due: none

Fix dialect alerts link not working
  app/.env.example
  app/src/lib/dialect.ts
Due: none

Add fixed table width
  app/package.json
  app/src/app/orders/page.tsx
  app/src/app/stores/[storePda]/(auth)/orders/page.tsx
  app/src/components/OrderTable.tsx
  app/src/components/OrderTableRow.tsx
  bun.lockb
Due: none

Replace Solana wallet with Jupiter wallet
  README.md
  app/.env.example
  app/package.json
  app/src/app/orders/page.tsx
  app/src/app/shoppers/[shopperPda]/page.tsx
  app/src/app/stores/[storePda]/(auth)/earnings/page.tsx
  app/src/app/stores/[storePda]/(auth)/layout.tsx
  app/src/app/stores/[storePda]/items/[itemPda]/page.tsx
  app/src/app/stores/[storePda]/page.tsx
  app/src/components/DialectNotification.tsx
  app/src/components/Header.tsx
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/AddReviewDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/CreateProfileDialog.tsx
  app/src/components/formDialogs/CreateStoreDialog.tsx
  app/src/components/formDialogs/DeleteItemDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/hooks/useIrysUploader.ts
  app/src/hooks/useWalletAuth.ts
  app/src/providers/PythProvider.tsx
  app/src/providers/ShopperProvider.tsx
  app/src/providers/SolanaProvider.tsx
  app/src/providers/StoreProvider.tsx
  bun.lockb
  preview.png
Due: none

Merge all order alerts under one
  app/src/lib/dialect.ts
Due: none

Init solpm
  SolanaPrograms.toml
Due: none

Add missing env field
  app/.env.example
Due: none

Move dicebear utils to separate file
  app/src/components/Header.tsx
  app/src/lib/api.ts
  app/src/lib/dicebear.ts
Due: none

Remove unused imports
  app/src/app/error.tsx
  app/src/lib/instructions.ts
Due: none

Add build-and-test workflow
  .github/workflows/build-and-test.yaml
  package.json
Due: none

Update website metadata
  app/src/app/layout.tsx
Due: none

Run workflow on specific file changes
  .github/workflows/build-and-test.yaml
Due: none

Refactor code
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/dialect.ts
  app/src/types/accounts.ts
Due: none

Add missing account fetcher filters
  app/src/app/api/accounts/reviews/route.ts
  app/src/lib/accounts.ts
Due: none

Replace IDL derived OrderStatus with ParsedOrderStatus
  app/src/app/orders/page.tsx
  app/src/app/stores/[storePda]/(auth)/orders/page.tsx
  app/src/app/stores/[storePda]/items/[itemPda]/page.tsx
  app/src/components/OrderTable.tsx
  app/src/components/StatusBadge.tsx
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/lib/dialect.ts
  app/src/types/accounts.ts
Due: none

Add type generator for enums
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/types/accounts.ts
  app/src/types/generators.ts
Due: none

Separate client and server instances
  app/.env.example
  app/src/app/api/constants.ts
  app/src/app/api/permissioned/route.ts
  app/src/app/stores/[storePda]/(auth)/earnings/page.tsx
  app/src/components/AccountLinkText.tsx
  app/src/components/DialectNotification.tsx
  app/src/components/Header.tsx
  app/src/components/OrderTable.tsx
  app/src/components/formDialogs/AddItemDialog.tsx
  app/src/components/formDialogs/AddReviewDialog.tsx
  app/src/components/formDialogs/CheckoutDialog.tsx
  app/src/components/formDialogs/CreateProfileDialog.tsx
  app/src/components/formDialogs/CreateStoreDialog.tsx
  app/src/components/formDialogs/DeleteItemDialog.tsx
  app/src/components/formDialogs/UpdateItemDialog.tsx
  app/src/components/formDialogs/UpdateOrderDialog.tsx
  app/src/hooks/useIrysUploader.ts
  app/src/lib/accounts.ts
  app/src/lib/api.ts
  app/src/lib/constants.ts
  app/src/lib/dicebear.ts
  app/src/lib/instructions.ts
  app/src/lib/pda.ts
  app/src/lib/pyth.ts
  app/src/lib/solana-client.ts
  app/src/lib/solana-helpers.ts
  app/src/lib/solana.ts
  app/src/lib/utils.ts
  app/src/providers/PythProvider.tsx
  app/src/providers/SolanaProvider.tsx
  app/src/providers/StoreProvider.tsx
Due: none

Shorten ImageInputLabel text
  app/src/components/ImageInputLabel.tsx
Due: none

Path conditions:
  cargo fmt --: any of: programs/splurge/src/**/*.rs
  prettier -w: any of: tests/**/*.ts
